<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= ator ? 'Editar Pessoa' : 'Adicionar Pessoa' %></title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/script.js"></script>
</head>
<body>
  <%- include('partials/header') %>
  <main class="container">
      
    <h1><%= ator ? 'Editar Pessoa' : 'Adicionar Pessoa' %></h1>
    <form action="<%= ator ? '/pessoas/editar/' + ator.id : '/pessoas/atores' %>" method="POST">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" value="<%= ator ? ator.nome : '' %>" required>
      <br>
    
      <label for="data_nascimento">Data de Nascimento:</label>
      <input type="date" id="data_nascimento" name="data_nascimento" value="<%= ator ? ator.data_nascimento : '' %>" required>
      <br>
    
      <label for="sexo">Sexo:</label>
      <select id="sexo" name="sexo" required>
        <option value="Masculino" <%= ator && ator.sexo === 'Masculino' ? 'selected' : '' %>>Masculino</option>
        <option value="Feminino" <%= ator && ator.sexo === 'Feminino' ? 'selected' : '' %>>Feminino</option>
        <option value="Outro" <%= ator && ator.sexo === 'Outro' ? 'selected' : '' %>>Outro</option>
      </select>
      <br>
    
      <label for="nacionalidade">Nacionalidade:</label>
      <input type="text" id="nacionalidade" name="nacionalidade" value="<%= ator ? ator.nacionalidade : '' %>" required>
      <br>
    
      <label for="tipo">Tipo de Pessoa:</label>
      <select id="tipo" name="tipo" required>
        <option value="Ator" <%= ator && ator.tipo === 'Ator' ? 'selected' : '' %>>Ator</option>
        <option value="Diretor" <%= ator && ator.tipo === 'Diretor' ? 'selected' : '' %>>Diretor</option>
        <option value="Produtor" <%= ator && ator.tipo === 'Produtor' ? 'selected' : '' %>>Produtor</option>
      </select>
      <br>
    
      <button type="submit">Salvar</button>
    </form>
    
  </main>
  <%- include('partials/toggle') %>

</body>
</html>
